:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #661379;
  --color-secondary: #691769;
  --color-dark: #3b0b47;
  --color-bg: #2d042d;

  /* Fonts */
  --font-roboto: "Roboto";
}
